# database
db

# redaxo cache folder
# html/redaxo/cache

# redaxo media files (except in subfolders)
html/media/*.*

# diverse
.idea

# redaxo configuration
# contains sensitive data and should not be stored in a git repo!
# can be stored in test/dev env
# /redaxo/data/core/config.yml

# cache folder (except hidden files)
html/redaxo/cache/*
!html/redaxo/cache/.*

# media folder (except hidden files)
!html/media/.*

# log files
*.log

html/assets/
# as long as theme addon there
!html/theme/public/assets/

html/redaxo/data/addons/mform/
html/redaxo/data/addons/phpmailer/mail_log/
# redaxo/data/addons/install/
html/redaxo/data/addons/cronjob/cronjob.log
html/redaxo/data/addons/backup/*.cronjob.sql
# as long as theme addon there
html/redaxo/data/addons/developer/

html/redaxo/data/core/system.log

# project specific
# node_modules/
# html/node_modules/
# html/cypress/integration/examples/
